<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row"></div>
    <div class="content-body">
      <!-- BODY CONTENT -->
      <!-- CHARTS ROW -->

      <div class="row" style="gap: 2rem; margin-top: 1px; margin-left: 1rem">
        <div class="col-sm shadow p-3 bg-white">
          <div id="chartContainer1" style="height: 20rem; width: 100%"></div>
        </div>
        <div class="col-sm shadow p-3 bg-white">
          <!-- Begin: Pie Charts -->
          <div id="chartContainer" style="height: 20rem; width: 100%"></div>

          <!-- End: Pie Charts -->
        </div>
      </div>
      <!-- CHARTS ROW -->

      <div
        class="container shadow mt-5"
        style="
          max-width: 100%;
          max-height: 100vh;
          background: #fff;
          margin-left: 1rem;
        "
      >
        <!-- SEARCH AND ADD -->
        <div class="row align-items-center p-3 pb-0" style="gap: 1rem">
          <div class="col-sm">
            <!-- <mat-form-field
              style="
                width: 80% !important;
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
              "
              appearance="standard"
            >
              <mat-label>Search All</mat-label>
              <input matInput placeholder="Ex. Pankaj" />
            </mat-form-field> -->
            <input
                  type="text"
                  class="form-control custom-class"
                  placeholder="search All"
                  style="height: 45px"
                />
          </div>
          <div class="col-sm">
            <div
              class="float-end d-flex align-items-center flex-wrap"
              style="gap: 1rem"
            >
              <button class="btn btn-primary">Schedule</button>
              <button class="btn btn-outline-primary">Pending</button>
              <button class="btn btn-outline-primary">Completed</button>
              <i class="fas fa-filter"></i>
              <i class="fas fa-sort"></i>
            </div>
          </div>
        </div>

        <!-- SEARCH AND ADD -->

        <!-- TABLE -->
        <div
          class="table-responsive"
          style="overflow-y: auto !important; height: 60vh !important"
        >
          <table class="datatable table mt-3" style="color: #000">
            <thead>
              <tr style="background: #f3f2f7 !important">
                <th scope="col">Exam Name</th>
                <th scope="col">Class</th>
                <th scope="col">Division</th>
                <th scope="col">Subject</th>
                <th scope="col">Year</th>
                <th scope="col">Semester</th>
                <th scope="col">Exam Date</th>
                <th scope="col">Action</th>
                <th scope="col">Publish</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.F.A</td>
                <!-- Division -->
                <td>B</td>
                <!-- subject -->
                <td>Painting</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>

              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>

              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>

              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>

              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- TABLE -->
      </div>
    </div>
  </div>
</div>
<!-- END: Content-->
