<!-- BEGIN: Content-->
<div class="app-content content">
  <div class="content-overlay"></div>
  <div class="header-navbar-shadow"></div>
  <div class="content-wrapper container-xxl p-0">
    <div class="content-header row"></div>
    <div class="content-body">
      <!-- BODY CONTENT -->
      <!-- CHARTS ROW -->

      <div class="row" style="gap: 1rem; margin-top: 1px; margin-left: 1rem; margin-right: 1rem;">
        <div class="col-sm shadow p-3 bg-white mt-3">
          <div id="chartContainer1" style="height: 20rem; width: 100%"></div>
        </div>
        <div class="col-sm shadow p-3 bg-white mt-3">
          <!-- Begin: Pie Charts -->
          <div id="chartContainer" style="height: 20rem; width: 100%"></div>

          <!-- End: Pie Charts -->
        </div>
      </div>
      <!-- CHARTS ROW -->

      <div
        class="container shadow mt-3"
        style="
          max-width: 100%;
          max-height: 100%;
          background: #fff;
          margin-left: 1rem;
          margin-bottom: 1rem;
        "
      >
        <!-- SEARCH AND ADD -->
        <div class="row align-items-center p-3 pb-0" style="gap: 1rem ;margin-bottom: 18px;margin-right: 1rem;">
          <div class="col-sm col-lg-4">
            <!-- <mat-form-field
              style="
                width: 80% !important;
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
              "
              appearance="standard"
            >
              <mat-label>Search All</mat-label>
              <input matInput placeholder="Ex. Pankaj" />
            </mat-form-field> -->
            <input
                  type="text"
                  class="form-control custom-class"
                  placeholder="search All"
                  style="height: 38px"
                />
          </div>
          <div class="col-sm ">
            <div
              class="float-end d-flex align-items-center flex-wrap"
              style="gap: 1rem"
            >
            <!-- <button mat-raised-button style="background-color:#4b78bb; color: #fff;">button</button> -->
              <button class="btn btn-primary custom-button">Schedule</button>
              <button class="btn btn-outline-primary ">Pending</button>
              <button class="btn btn-outline-primary">Completed</button>
              <i class="fas fa-filter"></i>
              <i class="fas fa-sort"></i>
            </div>
          </div>
        </div>

        <!-- SEARCH AND ADD -->
 
        <!-- <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">
        
            
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> h{{element.position}} </td>
            </ng-container>
        
            
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Exam Name </th>
              <td mat-cell *matCellDef="let element">h {{element.name}} </td>
            </ng-container>
        
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Class </th>
              <td mat-cell *matCellDef="let element"> h {{element.class}} </td>
            </ng-container>
        
            <ng-container matColumnDef="division">
              <th mat-header-cell *matHeaderCellDef> Division </th>
              <td mat-cell *matCellDef="let element">h {{element.division}} </td>
            </ng-container>

            <ng-container matColumnDef="subject">
              <th mat-header-cell *matHeaderCellDef> Subject </th>
              <td mat-cell *matCellDef="let element"> h {{element.subject}} </td>
            </ng-container>
        
            <ng-container matColumnDef="year">
              <th mat-header-cell *matHeaderCellDef> Year </th>
              <td mat-cell *matCellDef="let element"> {{element.year}} </td>
            </ng-container>

            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Semester </th>
              <td mat-cell *matCellDef="let element"> {{element.semester}} </td>
            </ng-container>

            <ng-container matColumnDef="exam_date">
              <th mat-header-cell *matHeaderCellDef> Exam Date </th>
              <td mat-cell *matCellDef="let element"> {{element.exam_date}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element"> {{element.action}} </td>
            </ng-container>

            <ng-container matColumnDef="publish">
              <th mat-header-cell *matHeaderCellDef> Publish </th>
              <td mat-cell *matCellDef="let element"> {{element.publish}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        
          <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                         showFirstLastButtons
                         aria-label="Select page of periodic elements">
          </mat-paginator>
        </div> 
         -->


        <!-- TABLE -->
        <div
          class="table-responsive"
          style="overflow-y: auto !important; height: 60vh !important"
        >
          <table class="datatable table " style="color: #000">
            <thead>
              <tr style="background: #f3f2f7 !important">
                <th scope="col">Exam Name</th>
                <th scope="col">Class</th>
                <th scope="col">Division</th>
                <th scope="col">Subject</th>
                <th scope="col">Year</th>
                <th scope="col">Semester</th>
                <th scope="col">Exam Date</th>
                <th scope="col">Action</th>
                <th scope="col">Publish</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.F.A</td>
                <!-- Division -->
                <td>B</td>
                <!-- subject -->
                <td>Painting</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>

              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>

              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>

              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>

              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
              <tr>
                <!-- Exam Name -->
                <th scope="row">Final Exam</th>
                <!-- Class -->
                <td>B.P.A</td>
                <!-- Division -->
                <td>C</td>
                <!-- subject -->
                <td>Dance</td>
                <!-- Year -->
                <td>2022</td>
                <!-- SEESTER -->
                <td>3rd Sem</td>
                <!-- Exam Date -->
                <td>25/08/2022</td>
                <!-- Action -->
                <td>
                  <div class="d-flex gap-2 align-items-center">
                    <i class="fas fa-eye color-orange"></i>
                    <i class="fas fa-trash-alt color-orange"></i>
                  </div>
                </td>
                <!-- Publish -->
                <td><button class="btn btn-primary">Publish</button></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- TABLE -->
      </div>
    </div>
  </div>
</div>
<!-- END: Content-->
